@{
  Layout = "_Layout";
}

@model AIUniversity.Models.Student

<h4>Add a new Student</h4>
<hr />

<p>@Html.ValidationMessageFor(model => model.StudentLastName, "", new { @class = "text-danger", @style = "font-weight: 600;"
  })</p>

<div class = "container">
  @using (Html.BeginForm())
  {
    <p>Student</p>
    <div class="row">
      <div class="col-6 col-md-2"><p>First Name: </p></div>
      <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.StudentFirstName)</div> 
    </div>
    <div class="row">
      <div class="col-6 col-md-2"><p>Last Name: </p></div>
      <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.StudentLastName)</div> 
    </div>  
    <div class="row">
      <div class="col-6 col-md-2"><p>Email: </p></div>
      <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.StudentEmail)</div> 
    </div>
    <div class="row">
      <div class="col-6 col-md-2"><p>Date of Birth: </p></div>
      <div class="col-6 col-md-2"> @Html.TextBoxFor(model => model.StudentDateOfBirth, new { type = "date"})</div> 
    </div>

    <div class="row">
      <div class="col-6 col-md-2"><p>Dorm: </p></div>
      <div class="col-6 col-md-2">@Html.DropDownList("DormId", (SelectList)ViewBag.DormId, "Select a dorm")
    </div> 
    <div class="row">
      <div class="col-6 col-md-2"><p>Department: </p></div>
      <div class="col-6 col-md-2"> @Html.DropDownList("DepartmentId", (SelectList)ViewBag.DepartmentId, "Select a department")</div> 
    </div> 

    <div class="row">
      <div class="col-6 col-md-2"><input type="submit" value="Add Student" class = "btn btn-primary mb-2"/></div>
    </div>
    </div> 

  }
  <br> 
  <p>@Html.ActionLink("Show Students", "Index", null, null, new { @class = "btn btn-secondary mb-2" })</p>
</div>