@{
  Layout = "_Layout";
}

@using AIUniversity.Models;

<h1 id="header">Welcome</h1>
<hr>

<p>@Html.ActionLink("Show Account", "Index","Account")</p>
<p>@Html.ActionLink("Show Clubs", "Index","Clubs")</p>
<p>@Html.ActionLink("Show Courses", "Index","Courses")</p>
<p>@Html.ActionLink("Show Departments", "Index","Departments")</p>
<p>@Html.ActionLink("Show Dorms", "Index","Dorms")</p>
<p>@Html.ActionLink("Show Professors", "Index","Professors")</p>
<p>@Html.ActionLink("Show Students", "Index","Students")</p>