
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="~/dino.jpg" alt="UI University" width="50" height="60">
        </a>
      </div>
    </nav>

<!-- Events(calender)   Academics(department , major, and professors)    Campus life(dorm introduction and clubs)   Visit (campus information)  About(introduction) .   -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">AI University</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("Events", "Index", "Events")</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("Academics", "Index", "Academics")</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("Campus Life", "Index", "Campus")</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("Visit", "Index", "Visit")</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("About", "Index", "About")</a>
        </li>

        <!-- for register below -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            View
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Dorms">Dorms</a></li>
            <li><a class="dropdown-item" href="/Professors">Professors</a></li>

            <li><a class="dropdown-item" href="/Clubs">Clubs</a></li>

            <li><a class="dropdown-item" href="/Courses">Courses</a></li>
          </ul>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
