@{
  Layout = "_Layout";
}

@model AIUniversity.Models.Course

<h4>Edit @Html.DisplayFor(model=>model.CourseName)</h4>
<hr />

<p>@Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.CourseId)

<div class = "container">
  <p>Course</p>
  <div class="row">
    <div class="col-6 col-md-2"><p>Name: </p></div>
    <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.CourseName)</div> 
  </div>
  <div class="row">
     <div class="col-6 col-md-2"><p>Description: </p></div>
     <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.CourseDescription)</div> 
  </div>

  <div class="row">
     <div class="col-6 col-md-2"><p>Professor: </p></div>
     <div class="col-6 col-md-2">@Html.DropDownList("ProfessorId")</div> 
  </div>

    <div class="row">
     <div class="col-6 col-md-2"><p>Department: </p></div>
     <div class="col-6 col-md-2">@Html.DropDownList("DepartmentId")</div> 
  </div>

  <div class="row">
     <div class="col-6 col-md-2"><p>Day: </p></div>
     <div class="col-6 col-md-2"> @Html.DropDownList("DaysOfTheWeek",(IEnumerable<SelectListItem>)ViewBag.DaysOfTheWeek)</div> 
  </div> 
  <div class="row">
     <div class="col-6 col-md-2"><p>Time: </p></div>
     <div class="col-6 col-md-2"> @Html.DropDownList("TimeOfClass",(IEnumerable<SelectListItem>)ViewBag.TimeOfClass)</div> 
  </div> 
  <div class="row">
    <div class="col-6 col-md-2"><input type="submit" value="Save" class = "btn btn-primary mb-2"/></div>
  </div>
</div>
}
<br> 
<p>@Html.ActionLink("Show Courses", "Index", null, null, new { @class = "btn btn-secondary mb-2" })</p>