@{
  Layout = "_Layout";
}

@using AIUniversity.Models;
@model AIUniversity.Models.Club;
@using System.Collections.Generic;

<h2>Club Details</h2>
<hr />
<h3>Club Name: @Html.DisplayFor(model => model.ClubName)</h3>
<h3>Club President: @Html.DisplayFor(model => model.ClubPresident)</h3>

@if(@Model.StudentClubs.Count == 0)
{
  <p>No students have been added to this club yet.</p>
}
else
{
  <h4>Students the club has:</h4>
  <ul>
  @foreach(StudentClub join in Model.StudentClubs)
  {
    <li>Student: @join.Student.StudentFirstName, @join.Student.StudentLastName</li>

    @using (Html.BeginForm("DeleteJoin", "Clubs"))
    {
      @Html.Hidden("joinId", @join.StudentClubId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Club", "Edit", new { id = Model.ClubId })</p>
<p>@Html.ActionLink("Delete Club", "Delete", new { id = Model.ClubId })</p>
<p>@Html.ActionLink("Add a student", "AddStudent", new { id = Model.ClubId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>