@{
  Layout = "_Layout";
}

@using AIUniversity.Models;

<!-- HEADER FOR PAGE -->
<h1 id="header">Upcoming Events</h1>
<hr> 

<!-- SUB-HEADER FOR PAGE -->
<h2 class="text-center">Discover possibilities for connecting with individuals, concepts, artistic expression, and knowledge throughout the campus.</h2>

<div class="container align-items-center">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image1.jpg" class="card-img-top" alt="Card Image 1">
        <div class="card-body text-center">
          <h5 class="card-title">Event 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image2.jpg" class="card-img-top" alt="Card Image 2">
        <div class="card-body text-center">
          <h5 class="card-title">Event 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image3.jpg" class="card-img-top" alt="Card Image 3">
        <div class="card-body text-center">
          <h5 class="card-title">Event 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image4.jpg" class="card-img-top" alt="Card Image 4">
        <div class="card-body text-center">
          <h5 class="card-title">Event 4</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image5.jpg" class="card-img-top" alt="Card Image 5">
        <div class="card-body text-center">
          <h5 class="card-title">Event 5</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="image6.jpg" class="card-img-top" alt="Card Image 6">
        <div class="card-body text-center">
          <h5 class="card-title">Event 6</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit ac commodo ultricies, erat urna finibus orci, in efficitur neque orci at sem.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  
<p>@Html.ActionLink("Show Account", "Index","Account")</p>
<p>@Html.ActionLink("Show Clubs", "Index","Clubs")</p>
<p>@Html.ActionLink("Show Courses", "Index","Courses")</p>
<p>@Html.ActionLink("Show Departments", "Index","Departments")</p>
<p>@Html.ActionLink("Show Dorms", "Index","Dorms")</p>
<p>@Html.ActionLink("Show Professors", "Index","Professors")</p>
<p>@Html.ActionLink("Show Students", "Index","Students")</p> -->
