@{
  Layout = "_Layout";
}

@using AIUniversity.Models
@model AIUniversity.Models.Dorm

<div class="card">
  <div class="card-header">
    <h2>Dorm Details</h2>
  </div>
  <div class="card-body">
    <h3 class="card-title">Dorm Name: @Html.DisplayFor(model => model.DormName)</h3>
    @if (Model.Students.Count == 0)
    {
      <p>This dorm does not have any students added yet!</p>
    }
    <ol> 
    @foreach (Student student in Model.Students)
    {
      <li>@student.StudentLastName, @student.StudentFirstName</li>
    }
    </ol>
  </div>
</div>

<p>@Html.ActionLink("Back to Dorms", "Index", null, new { @class = "btn btn-secondary mb-2" })</p>
<p>@Html.ActionLink("Edit Dorm", "Edit", new { id = Model.DormId }, new { @class = "btn btn-warning mb-2" })</p>
<p>@Html.ActionLink("Delete Dorm", "Delete", new { id = Model.DormId }, new { @class = "btn btn-danger mb-2" })</p>

